*{
    margin: 0px;
    padding: 0px;
    text-indent: 0px;
}


span{
    color: rgb(250, 247, 247);
}


.content{
    padding-top:5em;
    padding-bottom:5em;
    padding-left: 1em;
    padding-right: 1em;

    font-size: 2em;
    line-height: 1.5em;

    opacity:50%;
}